{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="transparent-container">
        <h1 id="hey1">Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <center><p>Is this your "oh no, I forgot to register" face? Fix it now: <a href="{{ url_for('register') }}">Register here</a>.</p></center>
    </div>
{% endblock %}
